.bloc_info {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.bloc_title {
    font-size: 60px;
    font-family: Gothic;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50%;
}
.bloc_text {
    font-size: 30px;
    font-family: ForText;
    color: black;   
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
}
.img_screen {   
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}
