#img_first {
    background-image: url("../resors_images/img_first.png");
}
#img_second {
    background-image: url("../resors_images/img_second.png");
}
#img_third {
    background-image: url("../resors_images/img_third.jpeg");
}
#img_fourth {
    background-image: url("../resors_images/img_fourth.jpeg");
}
#img_fifth {
    background-image: url("../resors_images/img_fifth.png");
}
#img_sixth {
    background-image: url("../resors_images/img_sixth.png");
}